<!-- NAVBAR -->
<nav class="navbar navbar-expand-xl" aria-label="Secondary Navigation">
    <div class="container-fluid">
        <button class="navbar-toggler mb-xl-0 mb-2" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbar-secondary" aria-controls="navbar-secondary" aria-expanded="false"
            aria-label="Toggle Secondary Navigation">
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbar-secondary">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" id="accountDropdown"
                        role="button" aria-expanded="false">
                        <i class="fas fa-user-circle fa-lg"></i> Demo User
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="accountDropdown">
                        <li><a class="dropdown-item" href="#">Account Profile</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Logout</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <span class="badge bg-danger text-center mx-1 my-2 p-2">POC</span>
                </li>
            </ul>
        </div>
    </div>
</nav>
