<!-- SKIPPY -->
<div class="skippy overflow-hidden text-center">
    <div class="container-xl">
        <a class="visually-hidden visually-hidden-focusable d-inline-flex p-2 m-1" href="#main">Skip to main content</a>
    </div>
</div>

<!-- SIDEBAR -->
<nav id="sidebar" class="vertical-nav" aria-label="Primary Navigation">
    <div class="sidebar-header text-center">
        <a href="index.html" title="CCIB Home">
            <img src="img/co-logo.png" alt="Colorado state logo" class="brand-co">
            <img src="img/cdps-logo.png" alt="Colorado Department of Public Safety logo" class="brand-cdps">
        </a>
    </div>
    <ul class="nav flex-column sidebar-nav">

        <li class="nav-item">
            <a class="nav-link" id="sidebarCollapse">
                <i class="fas fa-bars"></i><span class="ms-2 sidebar-nav-text">Collapse Menu</span>
            </a>
        </li>
        <li class="dropdown-divider"></li>

        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="bi bi-house-door-fill"></i>
                <span class="ms-3 sidebar-nav-text">Tasks</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <span class="fa-layers fa-fw">
                    <i class="fas fa-bell ms-0"></i>
                </span>
                <span class="sidebar-nav-text sidebar-m-counter">Notifications</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="bi bi-people-fill"></i>
                <span class="ms-3 sidebar-nav-text">Clients</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="bi bi-cash-stack"></i>
                <span class="ms-3 sidebar-nav-text">Invoices</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="bi bi-briefcase-fill"></i>
                <span class="ms-3 sidebar-nav-text">Staff</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="bi bi-newspaper"></i>
                <span class="ms-3 sidebar-nav-text">Reports</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="bi bi-graph-up"></i>
                <span class="ms-3 sidebar-nav-text">Analytics</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="bi bi-bank"></i>
                <span class="ms-3 sidebar-nav-text">Budgets</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="bi bi-person-badge-fill"></i>
                <span class="ms-3 sidebar-nav-text">Users</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="bi bi-gear-fill"></i>
                <span class="ms-3 sidebar-nav-text">Admin</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="bi bi-person-rolodex"></i>
                <span class="ms-3 sidebar-nav-text">Contacts</span>
            </a>
        </li>

        <!-- NEW FEATURE -->
        <li class="nav-item active">
            <a class="nav-link" href="index.html">
                <i class="bi bi-signpost-split-fill"></i>
                <span class="ms-3 sidebar-nav-text">Referrals</span>
                <span class="visually-hidden">Current Page</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="bi bi-question-circle"></i>
                <span class="ms-3 sidebar-nav-text">Help</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="bi bi-power"></i>
                <span class="ms-3 sidebar-nav-text">Logout</span>
            </a>
        </li>
    </ul>
</nav>
